
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to bottom, #2c3e50, #4b79a1);
}

/* Styling for Material Icons */
.material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
    font-weight: 400;
    font-size: 24px; /* Adjust icon size if needed */
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/* Wrapper for the login form */
.wrapper {
    width: 420px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
}

/* Heading style */
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

/* Styling for input boxes */
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 17px;
    color: white;
    padding: 20px 20px 20px 50px; /* Padding to make room for the icon */
}

.input-box input::placeholder {
    color: white;
}

/* Remember me and forgot password section */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Styling for the login button */
.wrapper .btn {
    border-radius: 50px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: #4CAF50;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.wrapper .btn:hover{
    background-color: #45a049;
}

/* Register link styling */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}
